   
body, html {
    height: 100%;
    font-family: "Merriweather", sans-serif;
    }
      
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-2.jpg");
    min-height: 75%;
}
      
#menu {
    background-position: center;
    background-size: cover;
    /*background-image: url("./images/matt-artz-2hPCkRAkVbY-unsplash.jpg");*/
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-x.jpg");
    min-height: 75%;
}
.page-footer {
 margin: 30px;
  width: 60%;
  /*border: 1px solid #14669c;*/
  padding: 10px;
  font-family: "Merriweather", sans-serif;
}

/*#where {
    background-position: center;
    background-size: cover;
    background-image: url("./images/matt-artz-2hPCkRAkVbY-unsplash.jpg");
    min-height: 75%;}
*/
