   
body, html {
    height: 100%;
    font-family: "Merriweather", sans-serif;
    }
      
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-2.jpg");
    min-height: 92%;
    
}
ul.b {
  list-style-type: square;
}     
#menu {
    background-position: center;
    background-size: cover;
   /*background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-2.jpg");*/
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-X.jpg");
    min-height: 70%;
}

/*.w3-text-white {
  font-family:Merriweather;
}*/
.page-footer {
 margin: 30px;
  width: 60%;
  /*border: 1px solid #14669c;*/
  padding: 10px;
  font-family: "Merriweather", sans-serif;
}
#about {
  background-position: center;
    background-size: cover;
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-x.jpg");
    min-height: 75%;
    opacity: 0.8; 
}
#where {
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
    
  
    /*background-position: center;
    background-size: cover;
    background-image: url("./images/ian-dooley-hpTH5b6mo2s-unsplash-x.jpg");
    min-height: 75%;*/
    
}


body {
  background: #312272;
  background: linear-gradient(45deg, #7f799b, #7f799b);
  min-height: 100vh;
}
h1{
  justify-content:center;
  /*width:50%;*/
  color:whitesmoke;
}

h3 {
  font-family: 'Poiret One', cursive; 
  font-weight: bold; 
}
h6 {
  font-family: "Merriweather"; 
  font-weight: bold; 
  font-size:20px;
}
.h5 {
  font-size:20px;
}
.w3-text-black {
  font-weight: bold;
}
.w3-tag{
border-radius:10%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color:antiquewhite;
}

.slider {
  display:block;
  position:relative;
  width: 100%;
  max-width: 900px;
  margin: 10px;
  background-color: white;
  overflow: hidden;
}

.slider__slides {
width: 100%;
padding-top: 66%;
}

.slider__slide {
  position:absolute;
  display: flex;
  align-items:center;
  justify-content:center;
  font-size: 50px;
  font-weight: bold;   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(80, 24, 76);
  background: linear-gradient(45deg, #8a498a, #7f799b);
  transition: 1s;
  opacity: 0;
}

.slider__slide.active {
  opacity: 1;
}

.slider__slide img {
width: 20%;
}

.slider__nav-button {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #333;
  opacity: .8;
  cursor: pointer;
}

#nav-button--prev {
  bottom: 15%;
  left: 0;
  transform: translateY(-50%);
}

#nav-button--next {
  bottom: 15%;
  right: 0;
  transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 40%;
  height: 40%;
}

#nav-button--next::after{
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  opacity: 1;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider__navlink.active {
  background-color: #fff;
  border: 1px #333 solid;
}


@media screen and (max-width: 640px) {
.slider__nav-button {
  height: 30px;
  width: 30px;
}
.slider__navlink {
  height: 12px;
  width: 12px;
}
.slider_slide {
  font-size:1em;
}

}